
.bg-info-light{
  background-color: #d1ecf1;
}

.logo{
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1);
  padding: 0 10%;
}
.logo:hover{
  filter:none;
  -webkit-filter: grayscale(0);
}

.img-fluid{
  max-width: 100%;
}

.map{
  position: relative;
}

.map-point{
  position: absolute;
  border: 3px;
  border-color: red;
  border-style: solid;
  border-radius: 100%;
}

.display-img{
  opacity: 0;
  height:30px;
  width:30px;
  border-radius: 100%;
}

.map-point:hover{
  box-shadow: 0px 0px 39px 9px rgba(0,0,0,0.71);
  border-radius: 0;
  border-color: white;
}

.display-img:hover{
  opacity: 100;
  position: relative;
  border-radius: 0;
  max-width: 200%;
  width: 200%;
  height: auto;
  z-index: 2;
}
